body
{
    font-family: 'Sofia Sans Semi Condensed', sans-serif;
    display: flex;
    min-height: 100vh;
    flex-direction: column;

}
main {
    flex: 1 0 auto;
  }
      
/* NAV BAR */

nav
{
    background-color: black;
}

nav ul a
{
    font-size: 1.5rem;
    font-weight: bolder;
    margin: auto 1.5rem auto 1.5rem;
}
nav ul a:hover
{
    background-color: violet;
}

.brand-logo
{
    letter-spacing: 10px;
    font-weight: bolder;
    margin-left: 3rem;
}
.sidenav
{
    background-color: black;
}
.sidenav li a
{
    margin: 1rem auto 1rem auto;
    font-size: 1.5rem;
    font-weight: bolder;
    color: #fff;
}

.sidenav li a:hover
{
    background-color: violet;
}

/* BUTTONS with dates*/

.btn
{
    background-color: #0731ad;
    font-weight: bolder;
    margin:50px;

}
.btn:hover
{
    background-color:lightcoral;
    color: #fff;;
}

#today
{
    font-size: 2rem;
    font-weight: bold;
}

footer
{
    text-align: center;
    padding: 2% 5%;
}

